
:root {
    --torquise: #212c28;
    --dark-grey: #0f0e0e;
    --grey-orange: #c29c3d;
    --orange: #ffbb59;
    --white: #ffffff;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
}
body.home {
    background-image: url(./imgs/home.png);
}
body.index0 {
    background-image: url(./imgs/spaghetti.png);
}
body.index1 {
    background-image: url(./imgs/tuna.png);
}

nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 30px;
}
.navBtn {
    font-size: 50px;
    padding: 5px 20px;
    border: none;
    color: var(--grey-orange);
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;
}
.navBtn:hover {
    background-color: var(--torquise);
}

.h1Div{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}
.h1Div > h1 {
    font-size: 150px;
    color: var(--grey-orange);
    font-weight: lighter;
}
.h1Div > p {
    color: var(--white);
    padding: 30px 0px;
}
#content.home {
    background-color: rgba(33, 44, 40, 0.5);
}
.menuDiv {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 220px;
}
.menuDiv > button {
    background-color: transparent;
    border: none;
    color: var(--grey-orange);
    cursor: pointer;
    padding: 5px 15px;
    transition: all 0.5s;
    border-radius: 5px;
    font-size: 35px;
}
.menuDiv > button:hover {
    background-color: var(--white);
}
.card {
    background-color: rgba(33, 44, 40, 0.7);
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 30px;
}
.card > h2 {
    font-size: 40px;
    color: var(--orange);
    letter-spacing: 5px;
}
.card > p {
    padding: 40px;
    padding-bottom: 0px;
    color: var(--white);
    text-align: center;
}
.svgDiv {
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
}
.orderDiv > button{
    background-color: var(--white);
    border: none;
    color: var(--grey-orange);
    cursor: pointer;
    padding: 5px 15px;
    transition: all 0.5s;
    border-radius: 5px;
    font-size: 20px;
}
.orderDiv > button:hover {
    scale: 1.1;
    padding: 5px 20px;
}