
:root {
    --torquise: #212c28;
    --dark-grey: #0f0e0e;
    --grey-orange: #c29c3d;
    --orange: #ffbb59;
    --white: #ffffff;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-image: url(./imgs/home.png);
}

nav {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 30px;
}
.navBtn {
    font-size: 50px;
    padding: 5px 20px;
    border: none;
    color: var(--grey-orange);
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s;
}
.navBtn:hover {
    background-color: var(--torquise);
}

.h1Div{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}
.h1Div > h1 {
    font-size: 150px;
    color: var(--grey-orange);
    font-weight: lighter;
}
.h1Div > p {
    color: white;
    padding: 30px 0px;
}
#content {
    background-color: rgba(33, 44, 40, 0.5);
}
